.thanks-for-watching-page {
	background-color: var(--palette-dark-grey);
	height: 100vh;
	width: 100vw;

	> header {
		background-color: black;
		bottom: 100px;
		color: white;
		font-size: 200px;
		padding-left: 100px;
		padding-right: 500px;
		position: absolute;
		right: 0;
	}

	iframe {
		bottom: 0;
		left: 0;
		opacity: 0.25;
		position: absolute;
		right: 0;
		top: 0;
	}
}
